@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');


#content{
    margin-top: -20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}
.cont_text{
    margin-top: 5vh;
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

.hodpara1{
    font-size: 1.08vw;
    line-height: 3vh;
    font-weight: 600;
    margin:1.2vh 6vw 1vh 6vw;
    font-family: 'Poppins', sans-serif;
}

#textp2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#abo-head {
    margin-top: -10vh;
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

#abo-text {
    font-size: 1.08vw;
    font-weight: 600;
    margin:1.2vh 6vw 1vh 6vw;
    font-family: 'Poppins', sans-serif;
    
}
#vis-head{
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

#vis-text{
    padding-bottom: 3vh;
    font-size: 1.1vw;
    font-weight: 600;
    margin:1.2vh 6vw 1vh 6vw;
    font-family: 'Poppins', sans-serif;
}
#mis-head{
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

#mis-text{
    font-size: 1.08vw;
    font-weight: 600;
    margin:1.2vh 6vw 1vh 6vw;
    font-family: 'Poppins', sans-serif;
}
#co-head{
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

#co-text{
    
    font-size: 1.07vw;
    font-weight: 600;
    margin:1.2vh 6vw 3vh 6vw;
    font-family: 'Poppins', sans-serif;
    line-height: 3vh;
}
#syl-head{
    width: 95%;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5vh;
}

#syl-text{
    text-align: center;
    font-size: 1.07vw;
    font-weight: 600;
    margin:1.2vh 6vw 6vh 6vw;
    font-family: 'Poppins', sans-serif;
    line-height: 3vh;
}
#syl-text h2{
    margin: 2vh 0;
}
#syl-text pre{
    font-size: 1.8vh;
    font-family: 'poppins';
}


@media (max-width:1000px) {

        
    #content{
        display: flex;
        flex-direction: column;
        justify-content:center ;
    }
    .cont_text{
        font-size: 3.2vw;
       
    }
    .hodpara1{
       line-height: 2vh;
        margin: 3vh 4vw 0 4vw;
        font-size: 2.1vw;
    }
    #imi-head{
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #imi-text{
        font-size: 2.4vw;
        
    }
    #abo-head{
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #abo-text{
        font-size: 2.2vw;
    }
    #vis-head{
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #vis-text{
        font-size: 2.2vw;
    }
    #mis-head{
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #mis-text{
        font-size: 2.2vw;
    }
    #co-head{
        margin-top: -10vh;
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #co-text{
        font-size: 2.2vw;
        line-height: 3vh;
    }
    #syl-head{
        margin-top: 2vh;
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #syl-text{
        font-size: 3vw;
        line-height: 3vh;
    }
    #syl-text pre{
        font-size: 2.8vw;
        line-height: 3vh;
    }
    #stu-head{
        margin-top: 2vh;
        font-size: 2.5vw;
        border-radius: 10px;
    }

    #stu-text{
        font-size: 2.2vw;
        line-height: 3vh;
    }


}


