#menupg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;

}

#menupg h4 {
   
    font-size: 2vw;
    color: #fff;
    border-radius: 100px;
    width: 95%;
    margin: 1vh;
    padding: 1vh 40vw;
    background: linear-gradient(219deg, rgba(153, 255, 255, 1) 0%, rgba(12, 175, 255, 1) 50%, rgba(0, 0, 255, 1) 100%);
}