#footer {
    min-height: 3vh;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: linear-gradient(to right, rgb(82, 206, 255), blue);
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}
span{
    color: #fff;
}